<h2>Pipe</h2>
Employees: {{employees | json}}

<div class="table-responsive">
    <table class="table table-primary">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Salary</th>
                <th scope="col">Joining</th>
            </tr>
        </thead>
        <tbody>
            <tr class="" *ngFor="let item of employees">
                <td scope="row">{{item.name | uppercase}}</td>
                <td>{{item.address |lowercase | reverse}}</td>
                <td>{{item.salary | currency:'INR'}}</td>
                <td>{{item.date | date:'dd/MM/yyyy'}}</td>
            </tr>
           
        </tbody>
    </table>
</div>


